@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* MEYER RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STARTING CSS */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #cbd6d8;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #7e91b4;
}

header div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

div h1 {
    font-size: 48px;
}

div h2 {
    font-size: 24px;
    text-align: start;
    padding-left: 2px;
}

header nav {
    flex: 1;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 24px;
    color: black;
}

/* MAIN  (ABOUT, PROJECT AND RESUME ARE IN HERE)  */

main {
    padding: 16px;
}

/* ABOUT */

.about {
    display: flex;
    justify-content: center;
    padding-bottom: 34px;

}

.about img{
    border-radius: 4px;
    width: 500px;
    padding-right: 16px;
}

.about article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

article h2 {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 8px;
    text-decoration: underline;
}

article p {
    font-size: 18px;
    letter-spacing: .5px;
}

/* Projects */

main > h2 {
    font-size: 36px;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
    text-decoration: underline;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#projects article {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 8px;
}

#projects * {
    padding: 8px;
}

#projects div {
    display: flex;
    flex-direction: column;
}

#projects h3 {
    font-size: 24px;
    display: flex;
    align-self: center;
    flex-basis: 1;
}

#projects p {
    width: 384px;
    align-self: center;
}

#projects img {
    width: 400px;
}

/* Resume */
#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resume > img {
    width: 720px;
    padding-bottom: 8px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 96px;
    padding: 16px;
    background-color: #7e91b4;
}

footer > h2 {
    font-size: 24px;
}

footer nav {
    display: flex;
    justify-content: center;
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

footer i {
    font-size: 40px;
    padding: 0px 16px
}

footer > nav> a > p {
    font-size: 12px;
}





/* Media Queries */



/* Tablets */
@media (max-width: 720px) {

    /* Header  */
    header {
      flex-direction: column;
      justify-content: space-between;
    }

    header div {
        align-items: center;
    }

    div h2 {
        font-size: 20px;
    }

    header nav {
        padding-top: 8px;
        width: 100%;
    } 

    /* About */

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about img {
        width: 100%;
        padding-bottom: 16px;
    }
    
    .about h2 {

    }

    article p {
        font-size: 16px;
    }

    #projects article {
        display: flex;
        flex-direction: column;
    }

    #projects .secondAbout {
        display: flex;
        flex-direction: column-reverse;
    }

    #resume > img {
        width: 450px;
    }
}

/* Phones */
@media (max-width: 480px) {

    /* Header  */ 

    header div {
        text-align: center;
    }

    header h1 {
        font-size: 34px;
    } 

    header a {
        font-size: 16px;
    } 

    /* ABOUT */

    .about article {
        width: inherit;
    }

    article h2 {
        font-size: 24px;
    }
    
    article p {
        font-size: 16px;
    }

    #projects img {
        width: 300px;
    }



}
